<%- unless segment.nil? %>
  <tr>
    <td><%=name%></td>
    <td><%=node[:network][:interfaces][name][:encapsulation]%></td>
    <td><input type='checkbox' name='bypass' value='bypass' disabled <%=segment[:bypass]?'checked':''%>></input></td>
    <td><%=node[:counters][:network][:interfaces][name][:rx][:bytes]%></td>
    <td><%=node[:counters][:network][:interfaces][name][:tx][:bytes]%></td>
    <td><%=node[:network][:interfaces][name][:mtu]%></td>
  </tr>
<%- end %>