<tr id='sensor_<%= sensor.sid %>' class='sensor <%= "child-of-sensor_#{sensor.parent.sid}" unless sensor.parent.nil? %> <%= sensor.domain ? " domain" : "" %> <%= sensor.domain && !sensor.is_virtual_sensor? ? "folder parent" : "" %>' data-sensor-id='<%= sensor.sid %>' <%= sensor.is_root? ? "style='display:none;'" : "" %> >
  <td class='name' data-sensor-id='<%= sensor.sid %>'><%= sensor.name %></td>

  <td class='hostname'><%= sensor.hostname %></td>
  <td class='interface'><%= sensor.interface %></td>

  <td class='ip <%= "edit-sensor-ip" if current_user.admin and sensor.is_virtual_sensor? %>' data-sensor-id='<%= sensor.sid %>' ><%= sensor.ipdir %> </td>

  <% if sensor.last %>
    <td class="last_event_time">
      <span title='<%= sensor.last.timestamp.strftime('%A, %b %d, %Y at %I:%M:%S %p') %>' class='add_tipsy'><%= sensor.last_pretty_time %></span>
    </td>
  <% else %>
    <td class='last_event_time'>N/A</td>
  <% end %>

  <td class='event_count'><%= sensor.events_count %></td>

  <td class='chart'>
    <%= css_chart(sensor.event_percentage) %>
  </td>

  <td class="icons">
    <li class="sensor-options" data-sensor-id='<%= sensor.sid %>'><%= link_to image_tag("icons/admin2.png", :size => '16x16', :class => 'trash'), sensors_path %></li>
    <dl id="sensor-menu-<%= sensor.sid %>" class="sensor-menu" data-sensor-id='<%= sensor.sid %>' style='display:none;'>
      <div class="arrow"></div>
      <dd>
        <%= link_to "Events", results_path(:title => "#{sensor.sensor_name}", :search => { :sid => sensor.sid }) %>
      </dd>
      <dd>
        <%= link_to "Config", edit_sensor_path(sensor), {:class => 'snorbybox', :target => '_blank'}  if sensor.domain %>
      </dd>
      <dd>
        <%= link_to "Rules", sensor_rules_path(:sensor_id => sensor.sid, :title => "#{sensor.sensor_name}") if sensor.domain %>
      </dd>
      <dd>
        <%= drop_down_item "Snmp"  , sensor_snmps_path(:sensor_id => sensor.sid, :title => "#{sensor.sensor_name}") if sensor.domain %>
      </dd>
      <dd>
        <%= drop_down_item "Info"  , sensor_path(sensor) if sensor.domain and sensor.is_virtual_sensor? %>
      </dd>
    </dl>
  </td>

  <td class='icons last'><%= link_to image_tag("icons/destroy.png", :size => '16x16', :class => 'trash'), sensor_path(sensor), :method => :delete, :confirm => "Are you sure you want to remove this sensor?" %></td>

</tr>
