<tr id='sensor_<%= sensor.sid %>' class='sensor <%= "child-of-sensor_#{sensor.parent.sid}" unless sensor.parent.nil? or sensor.parent.is_root? %> <%= sensor.domain ? " domain" : "" %> <%= sensor.domain && !sensor.is_virtual_sensor? ? "folder parent" : "" %>' data-sensor-id='<%= sensor.sid %>'>
  <td class='name' data-sensor-id='<%= sensor.sid %>'><%= sensor.name %></td>

  <td class='hostname'><%= sensor.hostname %></td>
  <td class='interface'><%= sensor.interface %></td>

  <td class='hostname <%= "edit-sensor-name" if current_user.admin and sensor.is_virtual_sensor? %>' data-sensor-id='<%= sensor.sid %>' ><%= sensor.ipdir %> </td>

  <% if sensor.last %>
    <td class='last_event_time'><%= sensor.last.timestamp.strftime('%m/%d/%Y %l:%M %p') %></td>
  <% else %>
    <td class='last_event_time'>N/A</td>
  <% end %>

  <td class='event_count'><%= sensor.events_count %></td>

  <td class='chart'>
    <%= css_chart(sensor.event_percentage) %>
  </td>

  <td>
    <% if sensor.domain %>
      <%= link_to 'View', sensor_events_path(:sensor_id => sensor.sid, :title => "#{sensor.sensor_name}") %>
    <% else %>
      <%= link_to 'View', results_path(:title => "#{sensor.sensor_name}", :search => { :sid => sensor.sid }) %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Config', sensor_rules_path(:sensor_id => sensor.sid, :title => "#{sensor.sensor_name}") if sensor.domain %>
  </td>
  <td class='last'><%= link_to image_tag("icons/destroy.png", :size => '16x16', :class => 'trash'), sensor_path(sensor), :method => :delete, :confirm => "Are you sure you want to remove this sensor?" %></td>

</tr>
