<%= form_tag "/sensors/#{@sensor.sid}", :method => :put, :class => 'basic-form validate' do %>

  <%= error_messages_for(@sensor) %>

  <div id="sensor_config">
    <div class="title">General</div>
    <div class="config_content">
      <div class="grid_6">
        <p>
          <%= label_tag 'Name' %>
          <br />
          <%= text_field_tag '[sensor][name]', @sensor.name, :placeholder => 'Domain Name', :class => 'required', :disabled => 'disabled' if @sensor.is_virtual_sensor? %>
          <%= text_field_tag '[sensor][name]', @sensor.name, :placeholder => 'Domain Name', :class => 'required' unless @sensor.is_virtual_sensor? %>
        </p>
        <p>
          <%= label_tag 'Mode' %>
          <br />
          <%= select_tag '[role][redBorder][snort][mode]', options_for_select(Sensor::MODES, :selected => @role.override_attributes["redBorder"]["snort"]["mode"]) %>
        </p>
      </div>
      <div class="grid_5">
        <% if @sensor.is_virtual_sensor? %>
          <p>
            <%= label_tag 'IP' %>
            <br />
            <%= text_field_tag '[sensor][ipir]', @sensor.ipdir, :placeholder => 'Domain Ip', :class => 'required', :disabled => 'disabled' %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="title second">Preprocessors</div>
    <div class="config_content preprocessor">
      <% cont = 1 %>
      <% size = Sensor.chef_sensor_role.override_attributes["redBorder"]["snort"]["preprocessors"].size %>
      <table>
        <tbody>
          <tr>
            <% Sensor.chef_sensor_role.override_attributes["redBorder"]["snort"]["preprocessors"].each do |key, value| %>
              <td>
                <%= label_tag key.capitalize %>
                <br/>
                <%= select_tag "[role][redBorder][snort][preprocessors][#{key}]", options_for_select(Sensor::PREPROCESSOR_VALUES, :selected => selected_preprocessor_value(@role, key)) %>
              </td>
              <%= "</tr><tr>".html_safe if (cont%4 == 0 and cont < size) %>
              <% cont = cont + 1 %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title second">IP Variables <i>(Blank boxs will be inherited from parent.)</i></div>
    <div class="config_content preprocessor">
      <% cont = 1 %>
      <% size = RuleVariable.all(:type => RuleVariable::IPVAR).size %>
      <table>
        <tbody>
          <tr>
            <% RuleVariable.all(:type => RuleVariable::IPVAR).each do |v| %>
              <td>
                <%= label_tag v.name %>
                <br/>
                <%= text_field_tag "[role][redBorder][snort][vars][#{v.name}]", selected_variable_value(@role, v.name) %>
              </td>
              <%= "</tr><tr>".html_safe if (cont%3 == 0 and cont < size) %>
              <% cont = cont + 1 %>
            <% end %>
            <% ((3 -(cont - 1)%3)%3).times do %>
              <td class="noselect"></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title second">Port Variables <i>(Blank boxs will be inherited from parent.)</i></div>
    <div class="config_content preprocessor">
      <% cont = 1 %>
      <% size = RuleVariable.all(:type => RuleVariable::PORTVAR).size %>
      <table>
        <tbody>
          <tr>
            <% RuleVariable.all(:type => RuleVariable::PORTVAR).each do |v| %>
              <td>
                <%= label_tag v.name %>
                <br/>
                <%= text_field_tag "[role][redBorder][snort][vars][#{v.name}]", selected_variable_value(@role, v.name) %>
              </td>
              <%= "</tr><tr>".html_safe if (cont%3 == 0 and cont < size) %>
              <% cont = cont + 1 %>
            <% end %>
            <% ((3 -(cont - 1)%3)%3).times do %>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="title second">Logging</div>
    <div class="config_content">
      <p>
        <%= label_tag 'Syslog Servers' %>
        <br/>
        <%= text_field_tag "[role][redBorder][barnyard2][syslog_servers]", (@role.override_attributes["redBorder"]["barnyard2"]["syslog_servers"].map{|s| s.to_s}.join(", ") unless @role.override_attributes["redBorder"]["barnyard2"]["syslog_servers"].nil?) %>
      </p>
      <p>
        <%= check_box_tag "[role][reBborder][snort][save_pcap]", 'yes', @role.override_attributes["redBorder"]["snort"]["save_pcap"] %>
        <%= label_tag 'Save pcap files' %><br/>
        <i>(Info about pcap files and where it will be saved.)</i>
      </p>
    </div>

    <%= form_actions do %>
      <%= button "Save", :class => 'success' %>
      <%= button "Cancel", :class => 'warning cancel' %>
    <% end %>
  </div>

<% end %>