<%= title "Info #{@sensor.sensor_name}".html_safe, "Info #{@sensor.sensor_name}" %>


<div id='dashboard'>

  <div class='main grid_9'>
    <%= render :partial => 'dashboard_switch' %>
    <%= render :partial => 'dashboard_graph' %>
  </div>

  <div class='secondary grid_3 alpha'>
    <%= render :partial => 'dashboard_info' %>
    <%= render :partial => 'dashboard_load' %>
    <%= render :partial => 'dashboard_hardware' %>
  </div>

</div>