<div class='box-large round'>
	
	<div class='box-large-inside'>
		
		<%= render :partial => 'graph_cpu.html.erb' %>

		<%= render :partial => 'graph_user_cpu.html.erb' %>

		<%= render :partial => 'graph_memory.html.erb' %>
		
		<%= render :partial => 'graph_disk.html.erb'%>
		
		<%= render :partial => 'graph_severity.html.erb'%>

	</div>

</div>