<li id='rule-<%= rule.id %>' data-rule-id='<%= rule.id %>' class="rule">
  <div class="row">
    <div class="select small"><%= check_box_tag 'rule-selector', nil, false, :class => "check_box_rule_#{rule.id}" %></div>
    <div class="action">
      <%= render :partial => 'rules/action', :locals => {:actions => actions, :action => action } %>
    </div>
    <div class="message click"><%= truncate(rule.msg, :length => 100, :omission => '...') %></div>
  </div>
  <div class="rule-data event-data" style='display:none;'>
    <%#= render :partial => 'rules/show', :locals => {:rule => rule} %>
  </div>
</li>