<tr id='group-<%= category.id %>-<%= group.id %>' class="folder parent">
  <td class='first'>
    <dl class="rule_group_actions" >
      <dd>
        Actions
      </dd>
    </dl>
    <dl class="rule_group_actions-menu" style='display:none;' data-group-id='<%= group.id %>'>
      <% actions.each do |action| %>
        <dd class="rule_group_action-button" data-action-id="<%= action.id %>">
          <%= action.name.capitalize %>
        </dd>
      <%end%>
    </dl>
  </td>
  <td class='last'><%= group.name %></td>
  <td></td>
</tr>
