<div id="rules-menu">
	<%= link_to 'Config rules' , sensor_rules_path %>
  <%= link_to 'Active rules' , active_rules_sensor_rules_path %>
  <%= link_to 'Pending rules', pending_rules_sensor_rules_path %>
  <%= link_to 'Compile'      , compile_rules_sensor_rules_path %>
  <%= link_to 'Revert'       , discard_pending_rules_sensor_rules_path %>
</div>
