<%= title "Listing Rules from #{@sensor.name}".html_safe, 'Listing Rules' %>

<ul class="table">
  <li class="header">
    <div class="row">
      <div class="action">Actions</div>
      <div class="message">Message</div>
      <div class="nrules"></div>
    </div>
  </li>
  <div class="content">
    <% @sensor_rules.each do |sr| %>
      <li id='rule-<%= sr.rule.id %>' data-rule-id='<%= sr.rule.id %>' class="rule">
        <div class="row">
          <div class="action"><%= sr.action.name %></div>
          <div class="message click"><%= truncate(sr.rule.msg, :length => 100, :omission => '...') %></div>
        </div>
        <div class="rule-data event-data" style='display:none;'>
          <%= render :partial => 'rules/show', :locals => {:rule => sr.rule} %>
        </div>
      </li>
    <% end %>
  </div>
</ul>
