<% content_for :footer do %>
  <%= render :partial => 'layouts/notify' %>

  <%= stylesheet_link_tag "jquery-ui" %>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#rules").accordion({
        active: false,
        collapsible: true,
        change: function(event, ui) {
          var active_comps = $(ui.newHeader).next();
          var category_id  = active_comps.attr("data-category-id");
          var sensor_id    = $("#rules").attr("data-sensor-sid");
          active_comps.html('<img src="/images/icons/pager.gif">')
          //alert("category_id: " +category_id +"   sensor_id: " +sensor_id);
          if (category_id>=0 && sensor_id>=0) {
            if (!active_comps.hasClass("loaded")) {
              active_comps.addClass("loaded")
              $.ajax({
                url: "/sensors/" +sensor_id +"/update_rule_category",
                data: {category_id: category_id, sensor_id: sensor_id},
                success: function(data){
                  $( "#rules" ).accordion("resize");
                }
              });
            }
          }                      
        }
      });

      $('.content > li.group > div.row > .message').live('click', function(event) {
        var self = this
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var group_id    = $(self).parents(".group").attr("data-group-id");
        var category_id = $(self).parents(".category").attr("data-category-id");
        var content  = $("#group-" +category_id +"-" +group_id +" > ul.table.rules");

        if (category_id>=0 && sensor_id>=0 && group_id>0) {
          if (!$(self).hasClass("loaded")) {
            $(self).addClass("loaded");
            var select_comp = $(self).parents(".row").children(".select");
            var select_html = select_comp.html();
            select_comp.html('<img src="/images/icons/loading.gif">');
            
            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_group",
              data: {category_id: category_id, sensor_id: sensor_id, group_id: group_id},
              success: function(data){
                content.toggle();
                select_comp.html(select_html);
                $( "#rules" ).accordion("resize");
              }
            });
          } else {
            content.toggle()
            $( "#rules" ).accordion("resize");
          }
        }
      });

      $('.content > li.rule > div.row > .message').live('click', function(event) {
        var self = this
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var rule_id     = $(self).parents(".rule").attr("data-rule-id");
        var content     = $("#rule-" +rule_id +" > .rule-data");

        if (sensor_id>=0 && rule_id>0) {
          var elements = $('li.rule.highlight');
          
          if (!$(self).hasClass("loaded")) {
            $(self).addClass("loaded");
            $(self).parents("li.rule").toggleClass("highlight");

            var select_comp = $(self).parents(".row").children(".select");
            var select_html = select_comp.html();
            select_comp.html('<img src="/images/icons/loading.gif">');

            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_details",
              data: {sensor_id: sensor_id, rule_id: rule_id},
              success: function(data){
                content.toggle();
                //Hide rest of rule highlight components if any
                /*for (var i = 0; i < elements.length; i++){
                  var id_aux = $(elements[i]).attr('data-rule-id');
                  if (id_aux != rule_id){
                    $(elements[i]).removeClass("highlight");
                    $(elements[i]).children(".rule-data").fadeOut();
                  }
                }*/
                select_comp.html(select_html);
                $( "#rules" ).accordion("resize");
              }
            });
          } else {
            $(self).parents("li.rule").toggleClass("highlight")
            content.toggle()
            $( "#rules" ).accordion("resize");
          }
        }
      });
      
      $('dl.rule_actions dd').live('click', function(event) {
        event.preventDefault();
        $(this).parent().next('.rule_actions-menu').toggle();
      });

      $('li.group > .row > .action > .rule_actions-menu .rule_action-button a').live('click', function(event) {
        var self = $(this);
        var action_id   = self.parent().attr("data-action-id");
        var group_id    = self.parents("li.group").attr("data-group-id");
        var category_id = self.parents(".category").attr("data-category-id");
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var action_str  = self.html();

        if (action_id>=0 && group_id>=0 && sensor_id>0 && category_id>0) {
          var box_cmp = self.parent().parent()

          if (!box_cmp.hasClass("loading")) {
            box_cmp.addClass("loading");            
            box_cmp.fadeOut();            
            var action_cmp = box_cmp.prev("dl.rule_actions").children("dd");
            action_cmp.html('<img src="/images/icons/pager.gif">');

            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_action",
              data: {action_id: action_id, group_id: group_id, category_id: category_id, sensor_id: sensor_id},
              success: function(data){
                box_cmp.removeClass("loading");
                action_cmp.html(action_str);
                //action_cmp.addClass(action_str.toLowerCase())
                self.parentsUntil("tr").parent().addClass("rule_pending");
                self.parents("li.group").children(".rules").children(".content").children("li.rule").children(".row").children(".action").html(action_str);
                self.parents("li.group").children(".rules").children(".content").children("li.rule").children(".row").children(".action").addClass("rule_pending");
                $("#rules").accordion("resize");
              }
            });
          }
        }
      });
    });
  </script>

<% end %>

<%= title "Listing Rules from #{@sensor.name}".html_safe, 'Listing Rules' do -%>
  <%= render :partial => 'rules/menu' %>
<%- end -%>

<div id="rules" class="boxit ui-accordion" data-sensor-sid=<%= @sensor.sid  %> >
  <%= render :partial => 'rules/category', :collection => @categories %>
</div>

<%= render :partial => 'rules/rules_menu' %>
