<% content_for :footer do %>
  <%= render :partial => 'layouts/notify' %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.content > li.category > div.row > .message').live('click', function(event) {
        var self = this
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var category_id = $(self).parents("li.category").attr("data");
        var content     = $(self).parent().next()

        if (category_id>=0 && sensor_id>=0) {
          if (!$(self).hasClass("loaded")) {
            $(self).addClass("loaded");
            $(self).parents("li.category").toggleClass("highlight");
            var select_comp = $(self).parents(".row").children(".select");
            var select_html = select_comp.html();
            select_comp.html('<img src="/images/icons/loading.gif">');
            
            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_category",
              data: {category_id: category_id, sensor_id: sensor_id},
              success: function(data) {
                content.toggle('fast')
                select_comp.html(select_html);
              }
            });
          } else {
            $(self).parents("li.category").toggleClass("highlight");
            content.toggle('fast')
          }
        }
      });

      $('.content > li.group > div.row > .message').live('click', function(event) {
        var self = this
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var group_id    = $(self).parents(".group").attr("data");
        var category_id = $(self).parents(".category").attr("data");
        var content     = $(self).parent().next()

        if (category_id>=0 && sensor_id>=0 && group_id>0) {
          if (!$(self).hasClass("loaded")) {
            $(self).addClass("loaded");
            $(self).parents("li.group").toggleClass("highlight");
            var select_comp = $(self).parents(".row").children(".select");
            var select_html = select_comp.html();
            select_comp.html('<img src="/images/icons/loading.gif">');
            
            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_group",
              data: {category_id: category_id, sensor_id: sensor_id, group_id: group_id},
              success: function(data){
                content.toggle('fast')
                select_comp.html(select_html);
              }
            });
          } else {
            $(self).parents("li.group").toggleClass("highlight");
            content.toggle('fast')
          }
        }
      });

      $('.content > li.family > div.row > .message').live('click', function(event) {
        var self = this
        var sensor_id   = $("#rules").attr("data-sensor-sid");
        var category_id = $(self).parents(".category").attr("data");
        var group_id    = $(self).parents(".group").attr("data");
        var family_id   = $(self).parents(".family").attr("data");
        var content     = $(self).parent().next()

        if (category_id>=0 && sensor_id>=0 && group_id>0) {
          if (!$(self).hasClass("loaded")) {
            $(self).addClass("loaded");
            $(self).parents("li.family").toggleClass("highlight");
            var select_comp = $(self).parents(".row").children(".select");
            var select_html = select_comp.html();
            select_comp.html('<img src="/images/icons/loading.gif">');

            $.ajax({
              url: "/sensors/" +sensor_id +"/update_rule_family",
              data: {category_id: category_id, sensor_id: sensor_id, group_id: group_id, family_id: family_id},
              success: function(data){
                content.toggle('fast')
                select_comp.html(select_html);
              }
            });
          } else {
            $(self).parents("li.family").toggleClass("highlight");
            content.toggle('fast')
          }
        }
      });

    });
  </script>

<% end %>

<%= title "Listing Rules from #{@sensor.sensor_name}".html_safe, 'Listing Rules' do -%>
  <%= render :partial => 'rules/menu' %>
<%- end -%>

<div id="rules" class="boxit" data-sensor-sid=<%= @sensor.sid  %> >
  <%= form_tag mass_update_rules_path do %>
    <ul class="table categories">
      <li class="header">
        <div class="row">
          <div class="small">
            <%= check_box_tag 'rule-select-all', nil, false, :class => 'rule-select-all' %>
          </div>
          <div class="action">Actions</div>
          <div class="message">Message</div>
          <div class="nrules"></div>
        </div>
      </li>
      <div class="content">
        <%= render :partial => 'rules/category', :collection => @categories, :locals => {:actions => @actions} %>
      </div>
    </ul>
  <% end %>
</div>

<%= render :partial => 'rules/rules_menu' %>
